*{
    padding: 0;
    margin: 0;
}

a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.container{
    height: 930px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 500px;
    width: 500px;
}