*{
    padding: 0;
    margin: 0;
}

a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.container{
    height: 930px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

p{  
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    transform: translate( 0px, 150px);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 500px;
    width: 500px;
}