*{
    padding: 0;
    margin: 0;
}

a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.container{
    height: 930px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

p{  
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 255);
    height: 500px;
    width: 500px;
}

.question-title{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 10;
    background-color: rgb(0, 255, 255);
    height: auto;
    padding: 10px;
}