@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@444&family=Lekton:wght@700&family=Prosto+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://parispeaceforum.org/app/uploads/2023/09/net-zero-space-initiative-1.jpg");
    background-size: cover;
    background-position: center;
}


a{
    position: relative; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    color: white;
    filter: drop-shadow(-8px -10px 46px #6b6b6b);
    backdrop-filter: brightness(1.1) blur(5px) url(#displacementFilter);
    font-weight: 600%;
    height: 500px;
    width: 500px;
    border-radius: 15px;
    
    transition: all 0.3s ease;
    
    cursor: url(https://www.rw-designer.com/cursor-view/23179.png), pointer;
}


a:hover {
    z-index: 0;
    transform: translateY(-5px);
    box-shadow: 40px 0 100px rgba(0, 153, 255, 0.4), -40px 0 100px rgba(2, 255, 56, 0.4);
}


.container{
    height: 930px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

p{  
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    transform: translate(0px, 150px);
    color: #ffffff;
    font-weight: 500;

    font-family:"Funnel Display";
}

h1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family:"Funnel Display";
    color: white;
    width: 200px;
    z-index: 2;
}
