@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@444&family=Lekton:wght@700&family=Prosto+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #222121;
}


a{
    position: relative; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    color: white;
    font-weight: 600%;
    height: 500px;
    width: 500px;
    border-radius: 15px;
    background: linear-gradient(135deg, #000000 0%, #433057 100%);
    
    transition: all 0.3s ease;
    
    cursor: url(https://www.rw-designer.com/cursor-view/23179.png), pointer;
}

a:hover {
    z-index: 0;
    transform: translateY(-5px);
    box-shadow: 40px 0 100px rgba(0, 153, 255, 0.4), -40px 0 100px rgba(225, 0, 255, 0.4);
}

a::after{
    content: '';
    position: absolute;
    
    
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    z-index: -1;

    border-radius: 15px;
    width: 102%;
    height: 102%;    

}


.container{
    height: 930px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

p{  
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    transform: translate(0px, 150px);
    color: #ffffff;
    font-weight: 500;

    font-family:"Funnel Display";
}

h1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family:"Funnel Display";
    color: white;
    width: 200px;
    z-index: 2;
}
