@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Montserrat:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body{
    background-color: #dfdfdb;
    height: 930px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    border-radius: 30px;
    height: 40px;
    width: 250px; 
    color: rgb(124, 124, 124);
    background: radial-gradient( #ffffff 5%, #b4b4b4 );
    box-shadow: 0 0 15px rgba(0, 217, 255, 0.418), 0 10px 15px rgba(0, 0, 0, 0.247);

    transition: 0.5s ease-in-out;
    border: 5px solid rgb(255, 255, 255);
    position: relative;

    cursor: url(https://www.rw-designer.com/cursor-view/23179.png), pointer;
}

.bouton{
    align-self: center;
    height: 80px;
    width: 250px;
    border-radius: 25px;
    color: rgb(124, 124, 124);
    background: radial-gradient(#b4b4b4 5%, #ffffff );
    box-shadow: 0 0 25px rgba(0, 217, 255, 0.418), 0 10px 15px rgba(0, 0, 0, 0.247);
    transition: 0.5s ease-in-out;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
}

.sparkles{
    position: absolute;
    transform: scale(.2);
    mix-blend-mode: lighten;
    z-index: -1;
    transition: 0.3s ease-out;
}

.bouton:hover .sparkles{
    mix-blend-mode: lighten;
    transform: rotate(90deg);
    transform: scale(.5);
    opacity: 0%;
}

.bouton::after{
    content: '';
    position: absolute;
    
    
    background: radial-gradient(#00aeff 35%, #ffffff );
    z-index: -1;

    border-radius: 25px;
    width: 110%;
    height: 130%;    
}

/*background: radial-gradient(#ffffff 15%, #acacac );*/

.bouton:hover{
    color: #ffffff;
    transform: scale(1.15);
    box-shadow: 0 0 100px rgba(0, 217, 255, 0.795);
}

a:hover{
    color: #00aeff;
     transform: scale(1.15);
}


nav{


    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: absolute;

    height: 75px;
    width: 1000px;
    border-radius: 50px;
    gap: 1em;
    padding: 1em;
    top: 35px;

    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.247);

    cursor: url(https://www.rw-designer.com/cursor-view/23179.png), pointer;
}

.container2{

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel{
    margin: 10px auto;
    width: 100%;
    display: flex;
    overflow-x: auto;
    z-index: -2;
    filter: blur(3px);
}


.carousel::-webkit-scrollbar {
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 50s linear infinite;
    padding-right: 1em;
    box-shadow: inset 1px 1px 10px #5e5e5e;
}
.group2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 70s linear infinite;
    padding-right: 1em;
     box-shadow: inset 1px 1px 10px #5e5e5e;
}
.group3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 65s linear infinite;
    padding-right: 1em;
     box-shadow: inset 1px 1px 10px #5e5e5e;
}
.group4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 40s linear infinite;
    padding-right: 1em;
     box-shadow: inset 1px 1px 10px #5e5e5e;
}

.card1{
    flex: 0 0 5em;
    height: 3em;
    padding: 1em;
    font-size: 3rem;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9cbba6e5-cffe-4537-a24a-305b77e34fb7/dj5a3az-f63c3bf0-080d-4946-8383-b0d9ee58ca1a.png/v1/fill/w_1280,h_1112,q_80,strp/frutiger_aero_seamless_repeating_background_by_lonelycoconut_dj5a3az-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTExMiIsInBhdGgiOiIvZi85Y2JiYTZlNS1jZmZlLTQ1MzctYTI0YS0zMDViNzdlMzRmYjcvZGo1YTNhei1mNjNjM2JmMC0wODBkLTQ5NDYtODM4My1iMGQ5ZWU1OGNhMWEucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.5UFGUVq426JMAmvTkLaHtHoH4z22lDo6dHFNnLwXjdY");
    background-size: cover;
    border-radius: 25px;
    text-align: center;
    align-content: center;
     box-shadow: inset 1px 1px 20px #5e5e5e;
}
.card2{
    flex: 0 0 5em;
    height: 3em;
    padding: 1em;
    font-size: 3rem;
    background-image: url("https://i.pinimg.com/736x/31/ed/16/31ed164226e601330d14620f8c375274.jpg");
    background-size: cover;
    border-radius: 25px;
    text-align: center;
    align-content: center;
     box-shadow: inset 1px 1px 20px #5e5e5e;
}
.card3{
    flex: 0 0 5em;
    height: 3em;
    padding: 1em;
    font-size: 3rem;
    background-image: url("https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/3934590/3fba6dcc2b1c3db49a47dc646d7152af4a98888b/ss_3fba6dcc2b1c3db49a47dc646d7152af4a98888b.1920x1080.jpg?t=1757238588");
    background-size: cover;
    border-radius: 25px;
    text-align: center;
    align-content: center;
     box-shadow: inset 1px 1px 20px #5e5e5e;
}
.card4{
    flex: 0 0 5em;
    height: 3em;
    padding: 1em;
    font-size: 3rem;
    background-image: url("https://frutiger-aero.org/img/funky-metro-1.webp");
    background-size: cover;
    border-radius: 25px;
    text-align: center;
    align-content: center;
     box-shadow: inset 1px 1px 20px #5e5e5e;
}
.card5{
    flex: 0 0 5em;
    height: 3em;
    padding: 1em;
    font-size: 3rem;
    background-image: url("https://t4.ftcdn.net/jpg/10/25/01/97/360_F_1025019762_Je8U5yK0AtIU58xyYy2E8JvNWDUOEwLg.jpg");
    background-size: cover;
    border-radius: 25px;
    text-align: center;
    align-content: center;
     box-shadow: inset 1px 1px 20px #5e5e5e;
}
.card6{
    flex: 0 0 5em;
    height: 3em;
    padding: 1em;
    font-size: 3rem;
    background-image: url("https://miro.medium.com/1*_zqJUXJaDneHRrXeXtR5vQ.webp");
    background-size: cover;
    border-radius: 25px;
    text-align: center;
    align-content: center;
     box-shadow: inset 1px 1px 20px #5e5e5e;
}

@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;}
}

