@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*
FrutigerAero1: https://media.discordapp.net/attachments/1448026927154725005/1449309049215516712/FrutigerAero1.png?ex=693e6dbc&is=693d1c3c&hm=ab396bc32191a191f947d087292f1183f05436e0c41408cc389ebdbd4c0ff6ba&=&format=webp&quality=lossless&width=1291&height=968
FrutigerAero2: https://media.discordapp.net/attachments/1448026927154725005/1449309069008572596/FrutigerAero2.png?ex=693e6dc0&is=693d1c40&hm=e3c1f2b4949fc6a6de973225d51482f608cf4cfa45a5a3e0f0de351777aaa71f&=&format=webp&quality=lossless
FrutigerAero3: https://media.discordapp.net/attachments/1448026927154725005/1449309097664057516/FrutigerAero3.png?ex=693e6dc7&is=693d1c47&hm=d4905cf5274de108857c4296b81d131a4ceff690a5c2a3e0d02d2c083fb305ee&=&format=webp&quality=lossless&width=1536&height=864

FrutigerMetro1: https://media.discordapp.net/attachments/1448026927154725005/1449309117289336906/FrutigerMetro1.webp?ex=693e6dcc&is=693d1c4c&hm=87d3a4e1e718194a075768e3ff2058e0119028bfb3e55651b0942bb6a9292da0&=&format=webp&width=1372&height=968
FrutigerMetro2: https://media.discordapp.net/attachments/1448026927154725005/1449309134322405446/FrutigerMetro2.webp?ex=693e6dd0&is=693d1c50&hm=2a37b26b11629e0499e83dc4ef924bbf7698c2c2cab47f721686560e41e04899&=&format=webp&width=1382&height=864
FrutigerMetro3: https://media.discordapp.net/attachments/1448026927154725005/1449309153251295283/FrutigerMetro3.jpg?ex=693e6dd4&is=693d1c54&hm=88cb7d07f79e6e1ccd0a1d9af8c5c3ecc0b53d8e46e790de50f648ffd4621ad5&=&format=webp
FrutigerMetro4: https://media.discordapp.net/attachments/1448026927154725005/1449309172050034799/FrutigerMetro4.webp?ex=693e6dd9&is=693d1c59&hm=77bb76da13afc56b7223b67a2d019f98ed7afe30834ee02f6d3e6e26df948d0e&=&format=webp

DreamCore1: https://media.discordapp.net/attachments/1448026927154725005/1449308966080221214/DreamCore1.jpg?ex=693e6da8&is=693d1c28&hm=16728faa6abb0506aa449741040b8f6af8afe1796e7158d9d57cf69b37a7de10&=&format=webp
DreamCore2: https://media.discordapp.net/attachments/1448026927154725005/1449308982178222162/DreamCore2.jpg?ex=693e6dac&is=693d1c2c&hm=f3670b778d1536ef5828a51e36062deaa01922f7856675eff6533fc010a770ba&=&format=webp
DreamCore3: https://media.discordapp.net/attachments/1448026927154725005/1449309002126065716/DreamCore3.jpg?ex=693e6db0&is=693d1c30&hm=0109daaddbd709a81df59a75d517d9cbaefd2b66e3309e503fdc8541368213e3&=&format=webp
DreamCore4: https://media.discordapp.net/attachments/1448026927154725005/1449309019901657098/DreamCore4.jpg?ex=693e6db5&is=693d1c35&hm=155e557b331bc0d89db08111a7dfdf30b5e8db9e12be9962f27bc111979dcd0a&=&format=webp

LiminalSpaces1: https://media.discordapp.net/attachments/1448026927154725005/1449309274793705543/LiminalSpaces1.jpg?ex=693e6df1&is=693d1c71&hm=12d77b5c4f81e4620d7ce5e988d2e4e33ebfb927deb586846f0014a2092aef8d&=&format=webp
LiminalSpaces2: https://media.discordapp.net/attachments/1448026927154725005/1449309295899578401/LiminalSpaces2.jpg?ex=693e6df7&is=693d1c77&hm=808eee0e9c9707b2b3d11216002f3637d71e1098c40be37864db50b4589f44e6&=&format=webp&width=1536&height=864
LiminalSpaces3: https://media.discordapp.net/attachments/1448026927154725005/1449309318225596467/LiminalSpaces3.jpg?ex=693e6dfc&is=693d1c7c&hm=e7eb10332bd71f5a9354278b4c996761c800009b2e6f2533fc91d6ed1e342a77&=&format=webp&width=1536&height=864
LiminalSpaces4: https://media.discordapp.net/attachments/1448026927154725005/1449309343131500584/LiminalSpaces4.jpg?ex=693e6e02&is=693d1c82&hm=e83085649b4d5ce13ae34b9b421c3a7f4974de5caee34b785cf6949513e2b777&=&format=webp&width=1376&height=917

DarkFantasy1: https://media.discordapp.net/attachments/1448026927154725005/1449308902658281473/DarkFantasy1.webp?ex=693e6d99&is=693d1c19&hm=59ff4ae104da3915023916ee98b9ba9ba24c2822400b289833362945211e964e&=&format=webp
DarkFantasy2: https://media.discordapp.net/attachments/1448026927154725005/1449308927203344536/DarkFantasy2.webp?ex=693e6d9f&is=693d1c1f&hm=dc024c70dfbd713399e149b81ee2fda4d069cc4d4c899b206f122075438c6d51&=&format=webp&width=1536&height=864
DarkFantasy3: https://media.discordapp.net/attachments/1448026927154725005/1449308944232222874/DarkFantasy3.webp?ex=693e6da3&is=693d1c23&hm=0804d5ee7c91666476c629a8f703c6c31fe0477783ca0ac3bed8f580face834a&=&format=webp&width=1376&height=887

HeroicRealism1: https://media.discordapp.net/attachments/1448026927154725005/1449309199677915196/HeroicRealism1.jpg?ex=693e6de0&is=693d1c60&hm=502382ef8f8246e77c1dfedf3a35ae76da9ed84e996e9c4dcd541215da11cac9&=&format=webp&width=716&height=968
HeroicRealism2: https://media.discordapp.net/attachments/1448026927154725005/1449309217474478121/HeroicRealism2.jpg?ex=693e6de4&is=693d1c64&hm=af354ad865a98da54a1ca9bfa2c8ae90bfce6b041a602d190fcb9a69a6980409&=&format=webp&width=747&height=968
HeroicRealism3: https://media.discordapp.net/attachments/1448026927154725005/1449309248860323921/HeroicRealism3.jpg?ex=693e6deb&is=693d1c6b&hm=abf0fec548c072a48921f07082070716a246487a0988af916fade8271ec0a4e7&=&format=webp

Y2KFuturism1: https://media.discordapp.net/attachments/1448026927154725005/1449309363553439794/Y2KFuturism1.jpg?ex=693e6e07&is=693d1c87&hm=75590618bbe8e865344027e51be352cc707189ea3a15566b6a195abf94513f5e&=&format=webp&width=1291&height=968
Y2KFuturism2: https://media.discordapp.net/attachments/1448026927154725005/1449309383753465926/Y2KFuturism2.jpg?ex=693e6e0b&is=693d1c8b&hm=e415f30a0cd7ab5929c57df815461abcb5ae0c3a52db42caa35d7cc46b736c0a&=&format=webp
Y2KFuturism3: https://media.discordapp.net/attachments/1448026927154725005/1449309410517057657/Y2KFutursim3.jpg?ex=693e6e12&is=693d1c92&hm=1f26bd2926619528e43241535a5c7467e755915a8e42c43ae73fdcdbabdca71c&=&format=webp

CyberPunk1: https://media.discordapp.net/attachments/1448026927154725005/1449308764951019600/CyberPunk1.png?ex=693e6d78&is=693d1bf8&hm=4c4b8402322000e6a50c1d27cdf98d506f11e50853375dcf2953d6f485c50c22&=&format=webp&quality=lossless&width=1536&height=864
CyberPunk2: https://media.discordapp.net/attachments/1448026927154725005/1449308867409350756/CyberPunk2.jpg?ex=693e6d90&is=693d1c10&hm=4981e243d0c38fd746c1ed2578e212e73568e99af8a435f913694110e5b91290&=&format=webp
CyberPunk3: https://media.discordapp.net/attachments/1448026927154725005/1449308885952499743/CyberPunk3.jpg?ex=693e6d95&is=693d1c15&hm=dc3690f1b8f7a2f786c5722ead7b529a6a9ca0699c10e11c0d04997b526f53f2&=&format=webp&width=1872&height=784
*/

*{
    margin: 0;
    padding: 0;
}

body{
    height: 930px;
    position: relative;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    display: flex;
    justify-content: center ;
    flex-direction: column;
}


p{
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 170%;
    width: 700px;
    text-align: center;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%);

}

p::after{
    content: '';

    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 110%;
    width: 110%;
    border-radius: 100px;

    filter: blur(70px);
    opacity: 60%;
    z-index: -1;

}

.bg1{
    background-image: url("/IMG/FrutigerAero2.png");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
       
}
.bg2{
    background-image: url("/IMG/FrutigerMetro1.webp");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
    
}
.bg3{
    background-image: url("/IMG/DreamCore2.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}
.bg4{
    background-image: url("/IMG/LiminalSpaces1.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}
.bg5{
    background-image: url("/IMG/DarkFantasy2.webp");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}
.bg6{
    background-image: url("/IMG/HeroicRealism1.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}
.bg7{
    background-image: url("/IMG/Y2KFutursim3.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}
.bg8{
    background-image: url("/IMG/CyberPunk1.png");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}



.image1{
    background-image: url("/IMG/FrutigerAero1.png");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}
.image2{
    background-image: url("/IMG/FrutigerMetro4.webp");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}
.image3{
    background-image: url("/IMG/DreamCore4.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}
.image4{
    background-image: url("/IMG/LiminalSpaces2.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}
.image5{
    background-image: url("/IMG/DarkFantasy3.webp");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}
.image6{
    background-image: url("/IMG/HeroicRealism3.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}
.image7{
    background-image: url("/IMG/Y2KFuturism1.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(10px);
}
.image8{
     background-image: url("/IMG/CyberPunk2.jpg");
     background-size: cover;
     background-position: center center;
    height: 100%;
    filter: blur(10px);

}





.Titre1{
    background-image: url("/Accueil/CHOIX/Aesthetics/Titres/FrutigerAero.png");
    height: 800px;
    width: 1200px;
    transform: scale(.5);
    position: relative;
}
.Titre2{
    background-image: url("/Accueil/CHOIX/Aesthetics/Titres/FrutigerMetro.png");
    height: 800px;
    width: 1200px;
    transform: scale(.5);
    position: relative;
}
.Titre3{
    background-image: url("/Accueil/CHOIX/Aesthetics/Titres/DreamCore.png");
    height:800px;
    width: 1200px;
    transform: scale(.5);
    position: relative;
}
.Titre4{
    background-image: url("/Accueil/CHOIX/Aesthetics/Titres/LiminalSpaces.png");
    height: 800px;
    width: 1200px;
    transform: scale(.5);
    position: relative;
}
.Titre5{
    background-image: url("/Accueil/CHOIX/Aesthetics/Titres/DarkFantasy.png");
    height: 800px;
    width: 1200px;
    transform: scale(.5);
    position: relative;
}
.Titre6{
    background-image: url("/Accueil/CHOIX/Aesthetics/Titres/HeroicRealism.png");
    height: 800px;
    width: 1200px;
    transform: scale(.5);
    position: relative;
}
.Titre7{
    background-image: url("/Accueil/CHOIX/Aesthetics/Titres/Y2K.png");
    height: 800px;
    width: 1200px;
    transform: scale(.5);
    position: relative;
}
.Titre8{
    background-image: url("/Accueil/CHOIX/Aesthetics/Titres/CyberPunk.png");
    height: 800px;
    width: 1200px;
    transform: scale(.5);
    position: relative;
}

.acceuil{
    cursor: url(https://www.rw-designer.com/cursor-view/23165.png), pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform-origin: center;

    bottom: -100%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 50px;
    width: 100px;

    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: linear-gradient(#9b9a9a, #fff);
    box-shadow: inset 1px 1px 10px #5e5e5e;
    box-shadow: inset 1px 1px 5px #e4e3e3;
    border-radius: 35px;
    border: 2px solid rgb(255, 255, 255);

    transition: all .2s ease-in-out;

}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;

    font-family: "Montserrat";
    color: #fff;
    font-size: 120%;
    width: 600px;
    bottom: -110%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text::after{
    content: '';

    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 110%;
    width: 110%;
    border-radius: 100px;

    filter: blur(70px);
    opacity: 60%;
    z-index: -1;

}